* {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

#particles-js {
    height: 500px;
}

#logo {
    max-width: 150px;
    height: auto;
}

.navbar {
    padding: 0.8rem;
}

.navbar-nav li {
    padding-right: 10px;
}

a {
    font-size: 20px;
    text-align: right;
    padding-top: 2px;
}

#particles-js {
    height: 700px;
}

#avatar {
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    border: 5px solid black;
    width: 200px;
    height: 200px;
    transform: translate(-100px, -100px);
    z-index: 1;
}

.info {
    /* background-color: #f5eded; */
    background-color: white;
    opacity: 0.9;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 7%;
    width: 500px;
    height: 500px;
    transform: translateY(-250px);
    z-index: 0; 
}

p {
    background-color: white;
    height: 70%;
    width: 70%;
    transform: translateX(33%);
    color: black;
    font-size: 18px;
    padding-top: 30px;
}

@media screen and (max-width: 1050px) {
    div.info {
        transform: rotate(90deg);
        width: 90%;
        height: auto;
        border-radius: 15px;
        margin-left: auto; 
        margin-right: auto; 
        margin-bottom: 20px;
        transform: translateX(-50%)
    }

    p {
        width: 80%;
        height: 100%;
        transform: translateX(15%);
        padding-top: 120px;
    }
}