.container {
    margin-top: 30px;
}

.self_card {
    border: solid black 1px;
    border-radius: 10px;
    padding-top: 2.5%;
    text-align: center;
    width: 360px;
    height: auto;
}

.self_card_image {
    border-radius: 10px;
}